
/*http://paletton.com/#uid=74e0X0k2ljc6hnI3vhb50fr6wdx*/
/*http://paletton.com/#uid=34e0X0k2ljc6hnI3vhb50fr6wdx*/

body {
    background-color: #fff;
    color: #5E2E2D;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

a {
    color: #403d4a;
}

a:active {
    color: #4c4955;
}

a:hover {
    color: #57555e;
    text-decoration: none;
}

a:visited {
    color: #a5b08e;
}

img {
    /*float: right;*/
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    border: 1px solid #666;
    /*padding: 4px;*/
    width: 220px;
    /*height: 200px;*/
}

img.shadow {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

dl {
    margin-bottom: 10px;
}

dd, dt {
    line-height: 1.5;
}

h4 {
    font-weight: 600;
}

.border {
    /*border: #000 1px solid;*/
}

.container {
    padding: 15px;
}

.level-1 {
    background-color: #646269;
    color: #b2b1b4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.level-2 {
    background-color: #a5b08e;
    color: #6d7361;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.level-3 {
    background-color: #fff;
    color: #6c6056;
    padding-top: 5px;
    padding-bottom: 20px;
}

.footer-row {
    border-width: 0px 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Small devices (tablets, 768px and up) */
/* iPad in portrait mode */
@media (min-width : 768px) {

    body {
        font-size: 14px;
        background-color: yellow;
    }

    img {
        width: 230px;
    }
}

/* Medium devices (desktops, 992px and up) */
/* iPad in landscape mode */
@media (min-width : 992px) {

    body {
        font-size: 14px;
        background-color: green;
    }

    img {
        width: 190px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) {

    body {
        font-size: 14px;
        background-color: blue;
    }

    img {
        width: 230px;
    }
}


/* http://stephen.io/mediaqueries/ */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    body {
        background-color: red;
    }

    img {
        width: 100px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    body {
        background-color: orange;
    }

    img {
        width: 100px;
    }
}
