# sublime files
#
**/*.sublime-project
**/*.sublime-workspace

# ignore these dirs.
#
template/
**/grid_sytem
**/testing_positioning
**/jumbotron_narrow
**/bootstrap_testing
**/shakespeares_plays
**/js_testing
**/Memory-master/
**/intro_to_DOM
**/jQuery Testing
**/shakespeares_plays
**/Animation Testing
**/gettysburg_address
**/testing
**/form_validation
**/form_validation
**/ajax_testing
**/user_manager_app


# reset cache:
# git rm -r --cached .
# git add .
# git commit -m ".gitignore is now working"
