.border {
    /*border: #000 1px solid;*/
}

#query-string {
    width: 60%;
}

#search-messages {
    color: red;
}

#search-messages,
#search-header,
#search-results,
#search-footer {
    display: none;
}

.error {
    color: red;
}

img {
    border: #666 1px solid;
    margin-bottom: 20px;
}

.spacer {
    padding: 10px;
}

#search-footer {
    padding-bottom: 40px;
}
